@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-outline:hover {
  filter: drop-shadow(0 0 4px white);
}

canvas {
  width: 100%;
  height: auto;
}

.responsive-image {
  position: absolute;
}

.responsive-image {
  position: absolute;
}

@media (max-width: 768px) {
  .responsive-image {
    left: 5vw !important; /* Adjust as needed */
    top: 50vh !important; /* Adjust as needed */
  }
}

@media (max-width: 480px) {
  .responsive-image {
    left: 2vw !important; /* Adjust as needed */
    top: 40vh !important; /* Adjust as needed */
  }
}
